#heading1 {color:#660066; font-size:35pt; font-family: sans-serif;}

h1 {text-align:center;}

img {float:left;}

h3 {color:dimgrey; font-size:15pt; text-align:center;}

p {color:dimgray; font-size:15pt; text-align:left;}

ul {list-style-position: inside; text-align:left;}

blockquote {text-align:center;}

footer {color:grey;font-size:10pt;text-align:right;}

a:link {color:grey;}
a:hover {color:slategrey;}
a:focus {color:darkgrey;}
a:visited {color:deeppink;}
a:active {color:darkred;}
a {text-decoration:none;text-decoration:blink;}